# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
venv/

# pytest
.pytest_cache/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
